body {
  background-color: rgba(32, 33, 36, 1);
  color: aliceblue;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 0px;
}
.menu {
  width: 24px;
  color: white;
}

path {
  fill: white;
}
a {
  color: aliceblue;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.menu:hover {
  border-radius: 25px;

  background-color: rgba(60, 64, 67, 0.9);
}
.logo .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}
.logo:hover .tooltiptext {
  visibility: visible;
}
nav {
  height: 60px;
  text-align: right;
  padding-right: 20px;

  line-height: 90px;
}
nav a {
  height: 10px;

  vertical-align: middle;
}
nav .pic {
  border-radius: 25px;
}
footer {
  padding-top: 0%;
  color: #9aa0a6;
}

.search {
  border: 1px solid #bdc1c6;
  width: 584px;
  height: 44px;
  border-radius: 24px;
}
.search input {
  height: 40px;
  width: 500px;
  border: none;
  outline: none;
  background-color: rgba(32, 33, 36, 1);
  color: white;
}
main {
  padding: 10%;
  text-align: center;
}
main div {
  margin: auto;
}
.search-img {
  margin: 5px;
}

.button {
  background-color: #303134;
  border-radius: 4px;
  color: #e8eaed;
  font-size: 14px;
  border: 1px solid #303134;
  padding: 0 16px;
  height: 36px;
  margin: 11px 4px;
}

.container {
  position: absolute;

  bottom: 0;
  background-color: #171717;
  width: 100%;
  font-size: 15px;

  padding-top: 15px;
  padding-bottom: 15px;
}
.container a {
  color: #9aa0a6;
  font-size: 14px;
}
.footer-menu-o {
  float: left;
}
.footer-menu-t {
  float: right;
}
.footer-menu-o a {
  padding-left: 10px;
  padding-right: 10px;
}
.footer-menu-t a {
  padding-left: 10px;
  padding-right: 10px;
}
.search-i {
  vertical-align: middle;
}
